abrt
adm
apache
avahi
avahi-autoipd
bin
chrony
colord
daemon
dbus
ftp
games
gdm
geoclue
gnome-initial-setup
halt
libstoragemgmt
lp
mail
mysql
nfsnobody
nobody
ntp
operator
polkitd
postfix
pulse
qemu
radvd
root
rpc
rpcuser
rtkit
saslauth
setroubleshoot
shutdown
sshd
sync
systemd-bus-proxy
systemd-network
tcpdump
tss
unbound
usbmuxd
man
messagebus
news
nscd
opc_op
openslp
scard
srvGeoClue
statd
systemd-timesync
uucp
vnc
wwwrun
at
ftpsecure
